mark {
  background-color: #f1f3f4!important;
  padding: 1px 4px;
  color: black;
}

.image_home{
margin: 50px auto;
width: 100%;
height: 100%;
}
.container{ 
height: 100%; }

/*.row{border: solid}*/


.h3content{max-width: 520px;
	margin: 0 auto;
	font-family: 'Noto Sans JP', sans-serif;
    margin-top: 100px!important;
    margin-bottom: 15px;
    font-size: 42px!important;
    text-align: center;
    font-weight: 400!important;
    font-stretch: normal;
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
/*border: solid;*/}

h4{ font-weight: 400!important;
    font-stretch: normal!important;
    font-size: 24px!important;
    line-height: 32px!important;}

 .contentp {
  /*  border: solid;*/
 	font-family: 'Noto Sans JP', sans-serif;
 	margin: 10px auto;
 	line-height: 25px;
 	font-size: 16px;
 	text-align: center;
 	max-width: 79%;

 }




