/* Search  */ 

.searchbar{
    width: 69%;
    margin: 0 auto;
}

.form__field {
    position: relative;}


.searchbox{
    float: left;
    width: 70%;}

.button{
  float: left;
    width: 20%;
    padding-left: 10px;
}

.aws-btn--primary .aws-btn__content {
    background: #1C1C1C!important; }
.aws-btn{
--button-primary-color-dark: #1c1c1c!important;
}

.top-loader { margin: 0 auto 0;
	width: 200px;
  text-align: center; }

/* Bouncing Arrow */


.arrowdiv
{position: absolute;
    top: 90%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 10%; }

.arrow{
  text-align: center;
  margin: 8% 0;
}

.arrow h4{
	color: white;
	font-size: 12px!important;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 600px) {
  
	.arrowdiv{width: 36%;
	}
	.arrow h4 {font-size: 10px!important;}
}


@media only screen and (max-width: 450px) {
   .searchbar{width: 100%;}

   .form__group {
   	margin:10px;
   	width: 85%
   }
}


