/*CSS for the table reuslts*/

.greenclass{background: #388e3c;
width: 10%;
color: white;
font-weight: 700;
text-align: center;}

.redclass{background: #e53935;
width: 10%;
color: white;
font-weight: 700;
text-align: center;}

.yellowclass{background:#ffe57f;
background: #ffe57f;
width: 10%;
color: black;
font-weight: 700;
text-align: center;}

.blueclass{background:#29b6f6;
width: 10%;
color: white;
font-weight: 700;
text-align: center;}

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

@media only screen and (max-width: 450px) {
   
   .p-5 {
    padding: 0rem!important;
}
}

